@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&family=Inter:wght@400;500&display=swap');
:root{
    --ff-primary: 'Epilogue';
    --ff-secondary: 'Inter';

    --fs-title: 3.5rem;
    --fs-sub: 1.3rem;
    --fs-text: 1rem;
    --fs-logo:1.2rem;

    --fw-black: 900;
    --fw-bold: 700;
    --fw-normal: 500;
    --fw-light: 400;


    --primary-clr: #EEEDE6;
    --primary-darker-clr:#E0E0E0;
    --secondary-clr: #393939;
    --contrast-clr: #5BAE73;
    
}


.firstsection{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.landingPage{
    background-color: var(--primary-clr);
}
.loading{
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
}

.topheader{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}

.headerlogo h2{
    margin-top: auto;

}

.headerlogo{
    display: flex;
    align-items: flex-start;
    width: 19%;
    font-family:var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-logo);
}
.headerlogo img{
    margin:auto;
    width:20%;
    min-width: 50px;
}
.headerbutton{
    display: flex;
    width: 40%;
    align-items: start;
    justify-content: end;
}

.headerbutton a{
    padding: 10px 23px 10px 23px;
    background: var(--contrast-clr);
    color: var(--primary-clr);
    border:none;
    font-family: var(--ff-secondary);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-decoration: none;
}

.title_section{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.right_section{
    display: flex;
    justify-content: end;
}
.right_section img{
    width: 60%;
    min-width: 350px;

}

.left_section{
    display: flex;
    flex-direction: column;

}

.left_section h1{
    font-family: var(--ff-primary);
    font-size: var(--fs-title);
    font-weight: var(--fw-black);
    margin-bottom: 10px;
    text-align: left;
}


.sub_title1{
    display: flex;
    align-items: center;
    color: var(--contrast-clr);
    font-family: var(--ff-secondary);
    font-size: var(--fs-sub);
    font-weight: var(--fw-light);
}

.sub_title2{
    color: var(--secondary-clr);
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.business_collab{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 50px;
}
.business_collab p{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    text-align: start;
}

.business_collab button{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-normal);
    background: var(--primary-darker-clr);
    padding: 15px 30px 15px 30px;
    border:none;
    margin-left: none;
    margin-right: auto;
    text-align: start;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.powered_section img{
    max-width: 250px;
    width:20%;
    margin: auto;
}

.powered_section div{
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: start;
}



.powered_section{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
}

.switch_section{
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}

.business{
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height:min-content;
    padding: 15px 30px 15px 30px;
    border:none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-normal);
    background: var(--primary-darker-clr);
}

.consumer{
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    background: var(--secondary-clr);
    color: var(--primary-clr);
    height:min-content;
    padding: 15px 30px 15px 30px;
    border:none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-normal);
    font-size: var(--fs-text);

}

.sus_section{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.sus_section h1{
    text-align: start;
    color: var(--secondary-clr);
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-title);
}

.sus_section p{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: start;
    color: var(--secondary-clr);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sub);
}
.sus_sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sus_sub1{
    display: flex;
    align-items: start;
    gap: 20px;
    
}

.sus_sub1 p{
    margin-top: auto;
    margin-bottom: auto;
    color: var(--secondary-clr);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-text);
}

.sus_sub1 img{
    width: 5%;
    min-width: 50px;
}

.feature_section{
    text-align: start;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.feature_section h2{
    font-family: var(--ff-primary);
    font-size: var(--fs-title);
    font-weight: var(--fw-black);
    margin-bottom: 70px;
}

.feature_sub{
    display: flex;
    justify-content: space-evenly;

}
.feature_sub_1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    min-width: min-content;
    align-items: center;
    width: 25%;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-text);
}
.feature_sub_1 h3{
    font-size: var(--fs-sub);
    font-family: var(--ff-secondary);
}

.feature_sub_1 p{
    margin-top: 15px;
    .feature_sub_1 h3{
        font-size: var(--fs-sub);
    }
}


.icon{
    font-size: var(--fs-title);

}
.comment_sub{
    padding-top: 100px;
    padding-bottom: 100px;
    height: min-content;
    width: 85%;
    margin:auto;
}

.comment_sub p{
    width: 50%;
    
    margin: auto;
}


.procedure_section{
    
    display: flex;
    flex-direction: column;
    width: 85%;
    margin:auto;
    margin-top: 80px;
    gap: 80px;
}

.procedure_sub{
    display: flex;
    justify-content: space-between;
}

.procedure_sub img{
    max-width: 500px;
    min-width: 0;
}
.procedure_text{
    text-align: start;
}
.procedure_text ul{
    margin-top: 10px;
    list-style-position:inside;
}
.procedure_text li{
    margin-top: 5px;
    font-family: var(--ff-secondary);
    font-size: var(--fs-text);
    color: var(--secondary-clr);
}

.procedure_text h1{
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: var(--fs-title);
}



.business_section{
    display: none;
}





@media screen and (max-width: 1000px) {
    .right_section{
        display: none;
    }

}