.libraryroute{
    margin-left: 60px;
    z-index: -1;
    text-align: left;
}

.header_section{
    background: var(--gray);
    display: flex;
    min-height: min-content;
    height: 80px;
    justify-content: space-between;
}

.left_header{
    display: flex;
    gap: 5px;

}

.left_header button{
    color: var(--darkgray);
    font-family: var(--ff-secondary);
    height: min-content;
    background:var(--green);
    border: none;
    padding: 10px 23px 10px 23px;
    font-family: var(--ff-secondary);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-decoration: none;
    margin-left: 10px;
}

.left_header h1{
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    margin: 0;
    margin-left: 50px;
    color: var(--eggshell);
    margin-top: auto;
    margin-bottom: auto;
}

.right_header{
    display: flex;
}

.iconsearch{
    margin-right: 50px;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}

.iconsearch{
    color: white;
    cursor: pointer;
}

.body_section{
    padding-top: 60px;
    padding-bottom: 100px;
    margin:0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background:var(--lightgray);
    min-height:100vh;
    
}


.cards_section{
    display: flex;
    gap: 50px;
}
.cards_section div{
    width:300px;
    height:250px;
    background: var(--eggshell);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

h2{
    color: var(--darkgray);
}

.recommended_section,.first_section, .second_section,.third_section{
    margin-left: 50px;
    width:min-content;
}

.genre_selection{
    display: none;
    min-width: min-content;
    margin: 0;
    width: 120px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:50px;
    background:var(--darkgray);
    color: var(--eggshell);
    border: none;
    border-radius: 20px;
}

