:root {
    --building-color: #FF9800;
  --hotel-color: #ce24af;
  --bicycle-color: #d2ee35;
  --food-color: #ff5656;
  --water-color: #819aff;
  --monument-color: #FF1493; 
  --museum-color: #9248C6 ; 
  --historic_site-color: #8B4513;
  --park-color: #168f2a;
  --skyrise_greenery-color: #00FF00; 
  --green_mark-color: #168f2a;
  --ev-color: #2edaa1;
  }

  /*
   * Property styles in unhighlighted state.
   */
  .property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 25px;
    justify-content: center;
    padding: 3px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 25px;
  }
  
  .property::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
  }
  
  
  .property .details {
    display: none;
    flex-direction: column;
    flex: 1;
  }
  
  .property .address {
    color: #9E9E9E;
    font-size: 11px;
    margin-top: 5px;
  }

  .property .description {
    color: lightblue;
    font-size: 9px;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 100%;
  }
  
  .property .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .property .features > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
  }
  
  /*
   * Property styles in highlighted state.
   */
  .property.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 8px 15px;
    width: 300px;
  }
  
  .property.highlight::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .property.highlight .details {
    display: flex;
  }
  
  .property.highlight .attractionIcon svg {
    width: 50px;
    height: 50px;
  }
  
  .property .rating {
    color: #FFA000;
  }
  
  .property .review {
    color: #03A9F4;
  }
  
  .property .name {
    color: #388E3C;
  }
  
  /*
     * building icon colors.
     */
  .property.highlight:has(.fa-building) .attractionIcon {
    color: var(--building-color);
  }
  
  .property:not(.highlight):has(.fa-building) {
    background-color: var(--building-color);
  }
  
  .property:not(.highlight):has(.fa-building)::after {
    border-top: 9px solid var(--building-color);
  }
  
    /*
   * hotel icon colors.
   */
   .property.highlight:has(.fa-hotel) .attractionIcon {
    color: var(--hotel-color);
  }
  
  .property:not(.highlight):has(.fa-hotel) {
    background-color: var(--hotel-color);
  }
  
  .property:not(.highlight):has(.fa-hotel)::after {
    border-top: 9px solid var(--hotel-color);
  }
  
  /*
     * bicycle icon colors.
     */
  .property.highlight:has(.fa-bicycle) .attractionIcon {
    color: var(--bicycle-color);
  }
  
  .property:not(.highlight):has(.fa-bicycle) {
    background-color: var(--bicycle-color);
  }
  
  .property:not(.highlight):has(.fa-bicycle)::after {
    border-top: 9px solid var(--bicycle-color);
  }
  
  /*
     * food icon colors.
     */
  .property.highlight:has(.fa-utensils) .attractionIcon {
    color: var(--food-color);
  }
  
  .property:not(.highlight):has(.fa-utensils) {
    background-color: var(--food-color);
  }
  
  .property:not(.highlight):has(.fa-utensils)::after {
    border-top: 9px solid var(--food-color);
  }
  
      /*
     * water icon colors.
     */
     .property.highlight:has(.fa-droplet) .attractionIcon {
      color: var(--water-color);
    }
    
    .property:not(.highlight):has(.fa-droplet) {
      background-color: var(--water-color);
    }
    
    .property:not(.highlight):has(.fa-droplet)::after {
      border-top: 9px solid var(--water-color);
    }

         /*
     * monument icon colors.
     */
  .property.highlight:has(.fa-landmark-dome) .attractionIcon {
    color: var(--monument-color);
  }
  
  .property:not(.highlight):has(.fa-landmark-dome) {
    background-color: var(--monument-color);
  }
  
  .property:not(.highlight):has(.fa-landmark-dome)::after {
    border-top: 9px solid var(--monument-color);
  }
  
  /*
     * museum icon colors.
     */
     .property.highlight:has(.fa-building-columns) .attractionIcon {
        color: var(--museum-color);
      }
      
      .property:not(.highlight):has(.fa-building-columns) {
        background-color: var(--museum-color);
      }
      
      .property:not(.highlight):has(.fa-building-columns)::after {
        border-top: 9px solid var(--museum-color);
      }

  /*
     * historic_site icon colors.
     */
     .property.highlight:has(.fa-clock-rotate-left) .attractionIcon {
        color: var(--historic_site-color);
      }
      
      .property:not(.highlight):has(.fa-clock-rotate-left) {
        background-color: var(--historic_site-color);
      }
      
      .property:not(.highlight):has(.fa-clock-rotate-left)::after {
        border-top: 9px solid var(--historic_site-color);
      }

 /*
     * park icon colors.
     */
     .property.highlight:has(.fa-tree) .attractionIcon {
        color: var(--park-color);
      }
      
      .property:not(.highlight):has(.fa-tree) {
        background-color: var(--park-color);
      }
      
      .property:not(.highlight):has(.fa-tree)::after {
        border-top: 9px solid var(--park-color);
      }

      /*
     * skyrise_greenery icon colors.
     */
  .property.highlight:has(.fa-tree-city) .attractionIcon {
    color: var(--skyrise_greenery-color);
  }
  
  .property:not(.highlight):has(.fa-tree-city) {
    background-color: var(--skyrise_greenery-color);
  }
  
  .property:not(.highlight):has(.fa-tree-city)::after {
    border-top: 9px solid var(--skyrise_greenery-color);
  }

      /*
     * green_mark icon colors.
     */
  .property.highlight:has(.fa-medal) .attractionIcon {
    color: var(--green_mark-color);
  }
  
  .property:not(.highlight):has(.fa-medal) {
    background-color: var(--green_mark-color);
  }
  
  .property:not(.highlight):has(.fa-medal)::after {
    border-top: 9px solid var(--green_mark-color);
  }

/*
     * ev icon colors.
     */
     .property.highlight:has(.fa-car-side) .attractionIcon {
        color: var(--ev-color);
      }
      
      .property:not(.highlight):has(.fa-car-side) {
        background-color: var(--ev-color);
      }
      
      .property:not(.highlight):has(.fa-car-side)::after {
        border-top: 9px solid var(--ev-color);
      }

#map, #cesiumMap {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed !important;
}

#cesium {
    position: absolute;
    z-index: 1;
    left: 52%;
    transform: translate(-50%);
    padding: 5px 8px;
    border-radius: 5px;
    text-align: center;  
  }

  #toggleMap {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    padding: 0.5em 0.5em;
    margin: 0px 5px;
    font: 400 14px Roboto, Arial, sans-serif;
    overflow: hidden;
    cursor: pointer;
  }

  #trafficLayer {
    position: absolute;
    z-index: 1;
    left: 45%;
    transform: translate(-50%);
    padding: 5px 8px;
    border-radius: 5px;
    text-align: center;  
  }

  #toggleTrafficLayer {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    padding: 0.5em 0.5em;
    margin: 0px 5px;
    font: 400 14px Roboto, Arial, sans-serif;
    overflow: hidden;
    cursor: pointer;
  }

.openLeftSidebarButton {
    background: var(--gray);
    height: 100px;
    padding: 0 14px;
    z-index: 99;
    position: fixed;
    place-self: start;
    border: none;
    color: var(--eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    font-size: 20px;
    cursor: pointer;
}

.openLeftSidebarButton:hover {
    background: var(--lightgray);
}

.openRightSidebarButton {
    background: var(--gray);
    height: 100px;
    padding: 0 14px;
    z-index: 99;
    position: fixed;
    border: none;
    color: var(--eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    right: 0;
}

.openRightSidebarButton:hover {
    background: var(--lightgray);
}

.leftSidebar {
    height: 100vh;
    width: 20vw;
    min-width: 240px;
    background: var(--gray);
    z-index: 99;
    position: fixed;
    place-self: start;
    padding: 20px 16px;
    color: var(--eggshell);
    margin-left: 60px;
}

.leftSidebar h1 {
    font-family: Epilogue;
    font-size: 24px;
    text-align: left;
    margin: 0;
}

.leftSidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSidebarHeader button {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--eggshell);
    cursor: pointer;
}

.routeBuilder {
    margin: 12px 0;
    font-family: Inter;
}

.waypointsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 8px 0;
    padding-bottom: 14px;
    max-height: 25vh;
    overflow-y: auto;
    border-bottom: solid 1px var(--eggshell)
}

.startWaypoint {
    display: flex;
    align-items: center;
    gap: 12px;
}

.startWaypoint input {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

.toWaypoint {
    display: flex;
    align-items: center;
    gap: 12px;
}

.toWaypoint input {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

.removeWaypointButton {
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    color: var(--eggshell);
    border: none;
}

.waypointOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0 12px 0;
    
}

.waypointOptions button {
    background: none;
    border: none;
    color: var(--eggshell);
    text-decoration: underline;
    cursor: pointer;
    font-family: Inter;
}
.transportModeList h3 { 
    margin: 4px 0;
}


.transportModeList h3 {
    text-align: left;
    font-size: 14px;
}

.transportModeList select {
    padding: 8px;
    font-size: 12px;
    width: 100%;
    background: none;
    color: var(--eggshell);
    border: 2px solid var(--eggshell);
    border-radius: 4px;
    cursor: pointer;
}

.transportModeList option {
    color: #000000;
}

.optimizeRouteContainer {
    text-align: left;
    align-items: center;
    margin: 12px 0;
}

.optimizeRouteFlex {
    display: flex;
    align-items: center;
    gap: 12px;
}

.optimizeRouteContainer input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.optimizeRouteContainer label {
    font-size: 14px;
    font-weight: 600;
}

.optimizeRouteContainer p {
    text-align: left;
    font-size: 10px;
    font-style: italic;
    width: 100%;
}

.createRouteButton {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-weight: 600;
    background: var(--green);
    font-size: 14px;
    cursor: pointer;
}

.createRouteButton:hover {
    background: var(--lightgreen);
}

.directionsOverview {
    border-top: solid 1px var(--eggshell);
    text-align: left;
}

.directionsOverview h3 {
    font-size: 14px;
}

.summarisedDirections {
    height: 80px;
    overflow-y: auto;
}

.directionsOverview p {
    font-size: 12px;
    margin: 2px 0;
}

.directionsOverview button {
    background: none;
    text-decoration: underline;
    color: var(--green);
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Inter;
    font-size: 12px;
}

.routeOverviewTitle {
    font-weight: bold;
}

.directionsPanelContainer {
    height: 85vh;
    overflow-y: auto;
    scrollbar-width: thin;
    text-align: left;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background: var(--lightgray);
  }

.directionsPanelContainer h3 {
    font-size: 16px;
}

.directionsPanelHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.directionsPanelHeader button {
    background: none;
    color: var(--eggshell);
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.directionsPanelContainer .directionsSummary {
    background-color: var(--darkgray);
    padding: 4px 6px;
    border-radius: 6px;
    margin-bottom: 24px;
}

.directionsPanelContainer .routeOverview {
    font-size: 12px;
    margin: 2px 0;

}

.directionsPanelContainer .directionsTravelMode {
    font-weight: bold;
    font-size: 12px;
    margin: 2px 0;

}

#directionsPanel {
    text-align: left;
}

/* #directionsPanel span{
    color: var(--eggshell);

}
#directionsPanel td {
    color: var(--eggshell);
    font-size: 12px;
}

#directionsPanel .adp-text {
    color: var(--gray);
    font-weight: bold;
}

#directionsPanel .adp-summary {
    font-style: italic;
    font-size: 12px;
}

#directionsPanel .adp-stepicon {
    background-color: var(--eggshell);
    border-radius: 4px;
}

#directionsPanel .adp-legal {
    color: var(--eggshell);
    font-size: 10px;
}

#directionsPanel .adp-agencies {
    color: var(--eggshell);
    font-size: 12px;
}

.warnbox-content {
    font-size: 12px;
}
*/
