.tabSidebar {
    background: var(--gray);
    height: 100vh;
    position: fixed;
    z-index: 100;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 3px, rgba(0, 0, 0, 0.24) 2px 0px 2px;
}

.tabSidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

}

.bottomTab {
    list-style: none;
    padding: 0;
    margin-top: auto;
}

.tabSidebar button {
    width: 60px;
    height: fit-content;
    min-height: 60px;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--eggshell);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tabSidebar button p {
    font-size: 10px;
    margin: 2px 0;
    font-weight: 600;
}

.tabSidebar button:hover {
    background: var(--lightgray);
}

.tabSidebar .selected {
    background: var(--eggshell) !important;
    color: var(--gray);
    pointer-events: none;
}

.tabIcon {
    margin: 0;
}

