@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&family=Inter:wght@400;500&display=swap');

:root {
  --eggshell: #F7F4E3;
  --darkeggshell: #e1d8a6;
  --darkgray: #242524;
  --gray: #40413F;
  --lightgray: #878887;
  --green: #76B989;
  --lightgreen: #99dead;

  --ff-primary: 'Epilogue';
  --ff-secondary: 'Inter';

  --fs-title: 3.5rem;
  --fs-sub: 1.3rem;
  --fs-text: 1rem;
  --fs-logo:1.2rem;

  --fw-black: 900;
  --fw-bold: 700;
  --fw-normal: 500;
  --fw-light: 400;


  --primary-clr: #EEEDE6;
  --primary-darker-clr:#E0E0E0;
  --secondary-clr: #393939;
  --contrast-clr: #5BAE73;
}

.App {
  text-align: center;
}